Source: ros-noetic-depthai-bridge
Section: libs
Priority: optional
Maintainer: Sachin Guruswamy <sachin@luxonis.com>
Build-Depends: debhelper (>= 11.0.0), ros-noetic-catkin,
 ros-noetic-vision-opencv, ros-noetic-nav-msgs, ros-noetic-roscpp,
 ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-actionlib, 
 ros-noetic-robot-localization, ros-noetic-tf-conversions, ros-noetic-hri-safe-remote-control-system
Homepage: https://www.greenzie.com/
Standards-Version: 4.3.0.3

Package: ros-noetic-greenzie-navigation
Architecture: any
Depends: ${shlibs:Depends}, 
 ${misc:Depends}, 
 ros-noetic-actionlib, 
 ros-noetic-geometry-msgs,
 ros-noetic-nav-msgs,
 ros-noetic-robot-localization,
 ros-noetic-roscpp, 
 ros-noetic-rospy, 
 ros-noetic-sensor-msgs,
 ros-noetic-tf-conversions,
 ros-noetic-hri-safe-remote-control-system
Description: Navigation algorithms for Greenzie products
 Greenzie navigation algorithms.
